@model TextAnalyzer.Web.Models.TextAnalysisModel
@{
    ViewData["Title"] = "Text Analyzer";
}


<div>
    <div>
        @using (Html.BeginForm("AnalyzeText", "", FormMethod.Post))
        {
            <textarea type="text" name="text" id="text">@Html.DisplayFor(model => model.Text)</textarea>
            <input type="submit" value="AnalyzeText" />
        }
    </div>

    <hr>

    <ul>
        <li>Total Word Count: @Html.DisplayFor(model => model.TotalWordCount)</li>
        <li>Total Unique Words: @Html.DisplayFor(model => model.UniqueWordCount)</li>
    </ul>

    <table>
        <tr>
            <th>Word</th>
            <th>Occurrences</th>
        </tr>

        @for (int i = 0; i < Model.UniqueWordCounts.Length; i++)
        {
            <tr>
                <td>@Html.DisplayFor(model => model.UniqueWordCounts[i].Word)</td>
                <td>@Html.DisplayFor(model => model.UniqueWordCounts[i].Count)</td>
            </tr>
        }
    </table>
</div>
